:root {
    font-family: 'Roboto', sans-serif;
    --grey-background:  rgba(241, 241, 241, 0.92);
}

h2 {
    font-size: 2rem;
}

svg{
    width: 24px;
    height: 24px;
}

.sidebar svg path {
    fill: rgb(255, 255, 255);
}

.header svg {
    width: 2rem;
    height: 2rem;
    gap: 10px;

}

.welcome svg {
    width: 8rem;
    height: 8rem;
}

.logo svg {
    width: 75px;
    height: 75px;
}

h1 {
    font-size: 2.5rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr / 1fr;

}

.header .welcome {
    display: flex;
}

.header .search-bar {
    padding: 50px 100px 60px 30px;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 20px
}

.header .search-bar input {
    width: 40vw;
    height: 3vh;
    border: 0;
    background-color: var(--grey-background);
    border-radius: 20px;
}

.header .profile {
    grid-column: 2/3;
}

.sidebar {
    color: white;
    background-color: rgb(9, 151, 239);
    padding-left: 30px;
    font-size: 2rem;
    display: grid;
    grid-column: 1;
    grid-row: 1/3;
    grid-template-rows: 1fr 2fr 3fr;
}
.sidebar {
    filter: white;
}
.sidebar .logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: start;

}

.side-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    gap:20px
}

.side-settings {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.main {
    background-color: var(--grey-background);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main .projects {
    grid-column: 1 /2;
    grid-row: 1/3;
}

.main .card {
    background-color: white;

}

.trending {
    grid-column: 2/3;
}

.right-side-wrapper {
    background-color: white;
}