.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr / 1fr;

}

.header .search-bar {
    grid-column: 1/2;
}

.header .profile {
    grid-column: 2/3;
}

.sidebar {
    background-color: rgb(9, 151, 239);
    grid-column: 1;
    grid-row: 1/3;

}

.main {
    background-color: rgba(211, 211, 211, 0.92);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main .projects {
    grid-column: 1 /2;
    grid-row: 1/3;
}

.main .card {
    background-color: white;

}

.trending {
    grid-column: 2/3;
}

.side-wrapper {
    background-color: white;
}